<!DOCTYPE html>
<html>
        <div class="header">
                <div class="logo-container">
                    <img class="logo" src="/css/images/logo.png" alt="">
                    <a href="" class="logo-title">PhotoLotus</a>
                </div>
                <div class="header-buttons">
                    <div class="dropdown-content">
                        <a href='/my-albums'>My Albums</a>
                        <a href='/my-photos'>My Photos</a>
                        </div>
                    <button class="sign-in" onclick="location.href='/log-out'">Sign Out</button>
                </div>
            </div>
</html>