<!DOCTYPE html>
<html>
<div class="header">
    <div class="logo-container">
        <img class="logo" src="/css/images/logo.png" alt="">
        <a href="" class="logo-title">PhotoLotus</a>
    </div>
    <div class="header-buttons">
        <div class="dropdown-content">
            <button class="sign-in" onclick="location.href='/log-out'">Sign Out</button>
            <br>
            <a class="list-item" href='/'>- Home</a>
            <br>
            <a class="list-item" href='/'>- My Albums</a>
            <br>
            <a class="list-item" href='/my-photos'>- My Photos</a>

        </div>

    </div>
</div>

</html>