<!DOCTYPE html>
<html>
<body>
   <ul>
       <li <% results.forEach() %>>
           <div id="imagethumbs">
               <div class="image-thumb-title">
                   <a rel="image-list" href="<% albumTitle %>" class="box element"></a>
                   <div class="image-select-border"></div>
               </div>
           </div>
       </li>
   </ul>
</body>