<!DOCTYPE html>

<html>
    
<div class="form-holder">
    <form action="" method="POST">
        <div class="form-input">
        <input class="file-hide" type="file" multiple>
        </div>
        <button class="store-button" type="submit">Store</button>
        <input name = "album-radio " type="radio">
        <label for="album">Is this part of an album?</label>
    </form>
</div>

</html>