<!DOCTYPE html>

<html>
    
<div class="form-holder">
    <form action="" method="POST">
        <div class="form-input">
       
        <input class="file-hide" type="file" multiple>
        </div>
        <button class="store-button" type="submit">Store</button>
    </form>
</div>

</html>