<!DOCTYPE html>
<html>
        <div class="header">
                <div class="logo-container">
                    <img class="logo" src="logo.png" alt="">
                    <a href="" class="logo-title">PhotoLotus</a>
                </div>
                <div class="header-buttons">
                    <button class="dropbtn">Welcome <% session.user.name %></button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        </div>
                    <button class="sign-in">Sign Out</button>
                </div>
            </div>
</html>