<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/../css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="../../index.js"></script>
    </head>
    <body>
         <div>
               <% include partials/header-in-session.ejs %>
        </div> 
        
        <div class="form-holder">
            <form action="" method="POST">
                <div class="form-input">
                    
               
                <input class="file-hide" type="file" multiple>
                </div>
                <button class="store-button" type="submit">Store</button>
            </form>
        </div>
        <div class = "footer-container">
            <a href="">Home</a>
            <br>    
            <a href="">Contact Us</a>
            <br>
            <a href="">Help</a>
        </div>
    </body>
</html>