<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>

<body>
    <div>
        <!-- Include header-in-session.esj if in a session.  If not include header-not-in-session -->
    </div>
    <div>
        <% include login-fields %>
    </div>
    <div class="form-holder">
        <form action="/upload-photos" method="POST">
            <input class="file-hide" type="file" name="photos" multiple>
            <button class="store-button" type="submit">Store</button>
        </form>
    </div>
    <div class="footer-container">
        <a href="">Home</a>
        <br>
        <a href="">Contact Us</a>
        <br>
        <a href="">Help</a>
    </div>
</body>

</html>