<!DOCTYPE html>
<html>
<div id="overlay"></div>
<div class="login-container">
    <form class="login-form">
        <img class="logo2" src="./images/logo.png" alt="">
        <div class="login-username">
            <input type="text" id="username" name="username" placeholder="Username or Email">
        </div>
        <div class="login-passowrd">
            <input type="password" id="password" name="password" placeholder="Password (case sensitve)">
        </div>
        <div id="lower">
            <button class="sign-in-button" type="submit" value="Login">
                Sign In
            </button>
        </div>
    </form>
</div>

</html>