<html>

<body>
    <% if (downloadedImages.length) {
  %><ul>
        <% downloadedImages.forEach((image) => {%>
        <li>
            <%= image.name %>
            <img style='display:block; width:100px;height:100px;'
                src='data:image/<%= image.extention%>;base64, <%= image.base64img%>' />
        </li>
        <%}) %>
    </ul><%
} %>
</body>